.Person {
    width: 60%;
    border: 2px solid #eeeeee;
    box-shadow: 0 2px 0 #ccc;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
}
.Userinput {
    margin: 20px;
}